<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile2Pdf</title>
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .bg{
           background-color: #05060f!important;
        }
        .navbar-brand{
           font-family: 'Ranchers', cursive!important;
        }
    </style>
</head>

<body>
<!--navbar-->
<nav class="navbar bg navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'customer_view' %}">Profile2Pdf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'customer_view' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Add Profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--main-->
<div class="container">
<div class="row">
<div class="profile-box">
{% for customer in object_list %}
        <div class="card text-white bg mx-2 my-4" style="width:18rem; float:left;">
          <img src="media/{{customer.pic}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{customer.name}}</h5>
            <p class="card-text">{{customer.about}}</p>
            <a href="{% url 'cutomerpdf' customer.id %}" class="btn btn-warning">View Pdf</a>
             <a href="{% url 'test-view' customer.id %}" class="btn btn-outline-success">Download Pdf</a>
          </div>
</div>
{% endfor %}
 </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
