

{% extends 'pdfconvert/base.html' %}
{% block content %}

<div class="row">
<div class="profile-box">
{% for customer in object_list %}
        <div class="card text-white bg mx-2 my-4" style="width:18rem;float:left;">
          <img src="media/{{customer.pic}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{customer.name}}</h5>
            <p class="card-text">{{customer.about}}</p>
            <a href="{% url 'cutomerpdf' customer.id %}" class="btn btn-warning">View Pdf</a>
             <a href="{% url 'test-view' customer.id %}" class="btn btn-outline-success">Download Pdf</a>
          </div>
</div>
{% endfor %}
 </div>
</div>

{% endblock %}
